In [ ]:
# Importación de librerías a utilizar
import mlxtend as ml
from mlxtend.frequent_patterns import association_rules, apriori
from mlxtend import frequent_patterns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
from numpy.core.function_base import linspace
from math import floor
from math import ceil
from numpy.ma.core import size

In [ ]:
# Lectura de la base de datos
filename = 'BlackFriday.csv'
data = pd.read_csv(filename, sep = ',')

# Revisión de los datos
print(data.dtypes)
data.head(10)

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
dtype: object

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1,C,3,1,2,3.0,15.0
6,1000013,P00155442,M,46-50,1,C,3,1,1,11.0,15.0
7,1000013,P0094542,M,46-50,1,C,3,1,2,4.0,9.0
8,1000015,P00161842,M,26-35,7,A,1,0,10,13.0,16.0
9,1000022,P00067942,M,18-25,15,A,4+,0,5,14.0,NaN

In [ ]:
# Rellenamos los valores na con 0, ya que no tiene categoría
data = data.fillna(0)

# Quitamos los duplicados
data = data.drop_duplicates()

In [ ]:
df_Product = data.groupby(['User_ID','Product_ID'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Gender = data.groupby(['User_ID','Gender'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Age = data.groupby(['User_ID','Age'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Occupation = data.groupby(['User_ID','Occupation'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_City = data.groupby(['User_ID','City_Category'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Stay = data.groupby(['User_ID','Stay_In_Current_City_Years'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Marital = data.groupby(['User_ID','Marital_Status'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Product_Category_1 = data.groupby(['User_ID','Product_Category_1'])['Product_Category_2'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Product_Category_2 = data.groupby(['User_ID','Product_Category_2'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df_Product_Category_3 = data.groupby(['User_ID','Product_Category_3'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [ ]:
df = pd.concat([df_Product, df_Occupation, df_City, df_Stay, df_Marital, df_Product_Category_1, df_Product_Category_2, df_Product_Category_3, df_Age, df_Gender], axis = 1)
print(df.shape)

(5891, 3583)

In [ ]:
frq_items = apriori(df, min_support = 0.05, use_colnames = True, max_len = 3)
print(frq_items)

# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.001)
rules.head(20)

        support          itemsets
0      0.082159       (P00000142)
1      0.052792       (P00002142)
2      0.058903       (P00003242)
3      0.066033       (P00003442)
4      0.053641       (P00003942)
...         ...               ...
38085  0.074181  (18-25, 17.0, M)
38086  0.051774  (17.0, 26-35, F)
38087  0.150399  (17.0, 26-35, M)
38088  0.081310  (17.0, 36-45, M)
38089  0.070616  (18.0, 26-35, M)

[38090 rows x 2 columns]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(P00000142),0.546936,0.082159,0.079783,0.145872,1.775481,0.034847,1.074594
1,(P00000142),(0),0.082159,0.546936,0.079783,0.971074,1.775481,0.034847,15.663070
2,(1),(P00000142),0.378713,0.082159,0.077406,0.204393,2.487763,0.046291,1.153635
3,(P00000142),(1),0.082159,0.378713,0.077406,0.942149,2.487763,0.046291,10.739385
4,(2),(P00000142),0.460873,0.082159,0.056357,0.122284,1.488373,0.018492,1.045715
5,(P00000142),(2),0.082159,0.460873,0.056357,0.685950,1.488373,0.018492,1.716695
6,(3),(P00000142),0.130708,0.082159,0.082159,0.628571,7.650649,0.071420,2.471110
7,(P00000142),(3),0.082159,0.130708,0.082159,1.000000,7.650649,0.071420,inf
8,(5),(P00000142),0.385164,0.082159,0.065524,0.170119,2.070601,0.033879,1.105991
9,(P00000142),(5),0.082159,0.385164,0.065524,0.797521,2.070601,0.033879,3.036538
10,(6),(P00000142),0.144797,0.082159,0.057206,0.395076,4.808665,0.045309,1.517283
11,(P00000142),(6),0.082159,0.144797,0.057206,0.696281,4.808665,0.045309,2.815770
12,(8),(P00000142),0.392633,0.082159,0.053132,0.135322,1.647071,0.020873,1.061483
13,(P00000142),(8),0.082159,0.392633,0.053132,0.646694,1.647071,0.020873,1.719098
14,(4.0),(P00000142),0.074181,0.082159,0.082159,1.107551,13.480549,0.076065,inf
15,(P00000142),(4.0),0.082159,0.074181,0.082159,1.000000,13.480549,0.076065,inf
16,(14.0),(P00000142),0.473943,0.082159,0.056018,0.118195,1.438607,0.017079,1.040866
17,(P00000142),(14.0),0.082159,0.473943,0.056018,0.681818,1.438607,0.017079,1.653321
18,(15.0),(P00000142),0.149380,0.082159,0.055678,0.372727,4.536645,0.043405,1.463224
19,(P00000142),(15.0),0.082159,0.149380,0.055678,0.677686,4.536645,0.043405,2.639102

In [ ]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(P00000142),0.546936,0.082159,0.079783,0.145872,1.775481,0.034847,1.074594
1,(P00000142),(0),0.082159,0.546936,0.079783,0.971074,1.775481,0.034847,15.663070
2,(1),(P00000142),0.378713,0.082159,0.077406,0.204393,2.487763,0.046291,1.153635
3,(P00000142),(1),0.082159,0.378713,0.077406,0.942149,2.487763,0.046291,10.739385
4,(2),(P00000142),0.460873,0.082159,0.056357,0.122284,1.488373,0.018492,1.045715
...,...,...,...,...,...,...,...,...,...
49159,"(18.0, M)",(26-35),0.070277,0.348498,0.070616,1.004831,2.883321,0.046125,inf
49160,"(26-35, M)",(18.0),0.255984,0.080971,0.070616,0.275862,3.406925,0.049889,1.269135
49161,(18.0),"(26-35, M)",0.080971,0.255984,0.070616,0.872117,3.406925,0.049889,5.817963
49162,(26-35),"(18.0, M)",0.348498,0.070277,0.070616,0.202630,2.883321,0.046125,1.165988
49163,(M),"(18.0, 26-35)",0.717196,0.085215,0.070616,0.098462,1.155452,0.009501,1.014694